.destination-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.destinations .item p {
  margin: 24px 0;
}
.destinations .item header h3 {
  margin: 24px 0;
}

.button {
  min-width: 280px;
}

.destinations .button {
  width: 100%;
  text-align: center;
}
.img-item {
  margin-top: 40px;
  width: 312px;
  height: 360px;
}
.destination-items .item.tokyo .img-item {
  background: url("../img/Tokyo.jpg") no-repeat;
  background-size: cover;
}
.destination-items .item.osaka .img-item {
  background: url("../img/Osaka.jpg") no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .destinations .button {
    width: 280px;
  }
  .img-item {
    margin-top: 40px;
    width: 648px;
    height: 452px;
  }
}
@media screen and (min-width: 1024px) {
  .destination-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  .img-item {
    margin-top: 40px;
    width: 448px;
    height: 352px;
  }
}

@media screen and (min-width: 1440px) {
  .img-item {
    margin-top: 40px;
    width: 588px;
    height: 452px;
  }
}
