.hero-img {
  width: 100%;
  height: 400px;
  background: url("../img/Banner\ homepage\ \(1\).jpg") no-repeat;
  background-size: cover;
}
.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .hero-img {
    background: url("../img/Banner\ tablet\ \(2\).jpg") no-repeat;
    background-size: cover;
    height: 600px;
  }
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .hero-img {
    background: url("../img/Maldivas\ \(2\)\ \(1\).jpg") no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }
}

@media (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
