.hero-img {
  width: 100%;
  height: 400px;
  background: url("../img/Banner\ homepage\ \(1\).jpg") no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url("../img/Banner\ tablet\ \(2\).jpg") no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .hero-img {
    background: url("../img/Maldivas\ \(2\)\ \(1\).jpg") no-repeat;
    background-size: cover;
  }
}
