.hero .hero-img,
.bottom-hero .hero-img {
  width: 100%;
  height: 400px;
}
.hero .hero-img {
  background: url("/img/Banner\ homepage\ \(1\).jpg") no-repeat;
  background-size: cover;
}
.bottom-hero {
  background: url("/img/rodape-mobile.png") no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0;
}
.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

/* PACOTES DE VIAGENS */
.travel-packages.hero {
  margin-bottom: 80px;
}

.travel-packages .hero-img {
  height: 480px;
  background: url("/img/hero-japao-mobile.png") no-repeat;
  background-size: cover;
}

.travel-packages .hero-content {
  padding: 65px 24px;
}

.travel-packages .hero-content h1 {
  font-size: 40px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
}

.travel-packages .hero-content hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 32px;
}

.travel-packages .hero-content p {
  font-size: 20px;
  color: var(--text-secondary-color);
  font-weight: var(--text-weight);
  line-height: 32px;
}

.travel-footer.bottom-hero {
  background: url("/img/rodape-japao-mobile.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0;
}

@media (min-width: 768px) {
  .hero .hero-img {
    background: url("/img/Banner\ tablet\ \(2\).jpg") no-repeat;
    background-size: cover;
    height: 600px;
  }
  .bottom-hero .hero-img {
    height: 600px;
    background: url("/img/rodape-tablet.png");
    background-size: cover;
    background-position: center;
  }
  .travel-footer.bottom-hero .hero-img {
    height: 600px;
    background: url("/img/rodape-japao-tablet.png");
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
  .travel-packages .hero-img {
    height: 600px;
    background: url("/img/hero-japao-tablet.png") no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .hero-img {
    background: url("../img/Maldivas\ \(2\)\ \(1\).jpg") no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }
  .bottom-hero .hero-img {
    height: 600px;
    background: url("../img/rodape-desktop.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .travel-footer.bottom-hero .hero-img {
    height: 600px;
    background: url("../img/rodape-japao-desktop.png") no-repeat;
    background-size: cover;
  }
  .travel-packages .hero-img {
    height: 600px;
    background: url("/img/hero-japao-desktop.png") no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1440px) {
  .travel-packages .hero-img {
    background: url("/img/hero-japao-desktop.png") no-repeat;
    background-size: cover;
  }
  .travel-packages .hero-content {
    width: 1200px;
  }
}

@media (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
