.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonial-container article header p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
}

.testimonial-container footer .profile-content h4 {
  font-size: 28px;
  line-height: 32px;
  font-weight: var(--title-weight);
  margin: 0 0 8px;
}
.testimonial-container footer .profile-content .rating {
  font-size: 32px;
  line-height: 32px;
  color: var(--secondary-color);
}

.testimonial-container footer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.testimonial-container footer img {
  width: 86px;
  height: 86px;
}

@media screen and (min-width: 1440px) {
  .testimonial-container {
    flex-direction: row;
  }
}
